:root {
  --primary-color: blue;
  --success-color: green;
  --failure-color: red;
  --primary-font-color: #ffffff;

  --rounded-corners: 5px;

  --padding-sm: 0.5rem;
  --padding-md: 1rem;
  --padding-lg: 3rem;

  font-size: 20px;
}

html {
  background-color: #000;
  color: var(--primary-font-color);
}

.limited-width {
  width: 100%;
  max-width: 1250px;
  margin: auto;
}

.wrapper {
  display: flex;
  gap: var(--padding-lg);
  flex-wrap: wrap;
}

.--column {
  flex-direction: column;
}

section {
  margin-bottom: var(--padding-lg);
}
