:root {
  --primary-bg-color: #000;
  --secondary-bg-color: #fff;
  --primary-font-color: #fff;
  --secondary-font-color: #000;
  --success-color: #27e1c3;
  --failure-color: #fc016b;

  --rounded-corners: 5px;

  --padding-sm: 0.75rem;
  --padding-md: 1.5rem;
  --padding-lg: 5rem;

  --max-width: 1250px;

  font-size: 20px;
}

html {
  background-color: var(--primary-bg-color);
  color: var(--primary-font-color);
}

* {
  box-sizing: border-box;
}

.limited-width {
  width: calc(100% - var(--padding-lg));
  max-width: var(--max-width);
  margin: auto;
}

.wrapper {
  display: flex;
  gap: var(--padding-lg);
  flex-wrap: wrap;
}

.--column {
  flex-direction: column;
}

section {
  margin-bottom: var(--padding-lg);
}

button,
input {
  appearance: none;
  padding: var(--padding-sm) var(--padding-md);
  border: 0;
  font-size: 1rem;
}

button:hover {
  background-color: var(--success-color);
  color: var(--primary-font-color);
}

label {
  position: relative;
  flex: 1 1 50%;
  height: 100%;
}

label input {
  position: absolute;
  inset: 0;
  width: 100%;
}

.launch-container {
  width: 100%;
  max-width: calc(100vw - var(--padding-lg));
  overflow: hidden;
}

.card {
  border-radius: var(--rounded-corners);
  flex: 1 1 20%;
  padding: var(--padding-md);
  max-width: 100%;
  overflow: auto;
  background-color: var(--secondary-bg-color);
  color: var(--secondary-font-color);
  position: relative;
}

.card h1,
.card p {
  margin-top: 0;
}

.searchbar {
  width: 100%;
  max-width: calc(var(--max-width) * 0.75);
  justify-content: space-around;
  gap: 0;
  margin: var(--padding-lg) 0;
}

@media screen and (max-width: 1060px) {
  :root {
    --padding-sm: 0.5rem;
    --padding-md: 1rem;
    --padding-lg: 2rem;
  }

  .searchbar label,
  .searchbar button,
  .card {
    flex: 1 1 100%;
  }
}
